* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;
}

menu li {
	display: inline;
}

menu li:after {
	content: " |";
}

menu li:last-child:after {
	content: "";
}

body > * {
	padding: 5px 10px;
}

header {
	background-color: #eee;
	border-bottom: 1px solid #aaa;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

header > * {
	align-self: center;
}

header nav menu {
	font-size: larger;
}

main {
	padding: 10px;
}

main textarea,
main input[type=text] {
	font-size: 18px;
	padding: 3px 5px;
	border: 1px solid #888;
}

main input[type=submit],
main input[type=button] {
	padding: 3px 8px;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #888;
}

main div#argument > div {
	margin-bottom: 15px;
}

footer {
	text-align: center;
}

footer menu,
footer menu li {
	font-size: 12px;
}
